:root {
  --primary-black-color: #212121;
  --secondary-color: #757575;
  --accent: #2196f3;
  --links-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --black-color: #000000;
  --bg-color: #2f303a;
}

body {
  background-color: var(--primary-while-color);
  font-family: Roboto;
  width: 1600px;
  letter-spacing: 0.03em;
}

a:hover.link,
a:focus.link {
  color: var(--accent);
  outline: none;
  text-decoration: var(--accent) solid 3px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* --------- header -------------*/
/*position*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 80px;
}

/*box model*/

.header {
  margin: 0 auto;
  width: 100vw;
  max-height: 80px;
  border-bottom: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  justify-self: center;
}

/*fonts,color*/
.logo,
.header > a {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26;
  line-height: 1.19;
  font-style: normal;
  text-align: center;
}

.logo {
  color: var(--accent);
}

/*-- link header --*/
.header a {
  color: var(--primary-black-color);
}

.nav {
  color: var(--secondary-color);
}

/*------------------ Hero ----------------*/

/*position*/
.hero {
  position: absolute;
  top: 80px;
  left: 0;
  max-width: 100%;
  max-height: 600px;
}

/*box model*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*--- background,fonts,color ----*/
.hero {
  background-image: url("./images/image_bg.jpg");
  background-color: var(--bg-color);
  background-size: cover;
  height: 600px;
  width: 100vw;
}

.hero > h1 {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

/*-- button --*/

.btn {
  background-color: var(--accent);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  border: #ffffff solid 1px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.15);
}

.btn {
  width: 216px;
  height: 50px;
}

/*--------- Benefits -----------------*/

/* position */
.benefits {
  position: absolute;
  top: 774px;
  left: 215px;
  max-width: 1170px;
  max-height: 98px;
}

/*box model*/

.benefit-content {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

/*-- fonts,color ----*/
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}

/*----------------------------- Our Jobs ---------------*/

/*position*/
.jobs {
  position: absolute;
  top: 966px;
  left: 215px;
  max-width: 1170px;
  max-height: 386px;
}

/*box model*/
.jobs-box {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  gap: 15px;
}

.jobs-text {
  align-self: center;
}

.jobs-list {
  display: flex;
  align-content: center;
  gap: 10px;
}

/*fonts,color*/
.jobs-text {
  color: var(--primary-black-color);
  font-size: 36px;
  line-height: 1.66;
  font-weight: 700;
  text-align: center;
}

/*---------- Our command -------------------*/
/*position*/
.command {
  position: absolute;
  top: 1446px;
  left: 0;
  max-width: 100%;
  max-height: 648px;
}

.command-box {
  position: absolute;
  top: 94px;
  left: 215px;
}

/*box model*/
.command {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  justify-content: center;
  align-content: center;
}

.command-text {
  align-self: center;
}

.command-list {
  display: flex;
  gap: 15px;
  align-content: center;
}

/*fonts,color*/
.command-text,
.command-name,
.command-position {
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
}

.command-position,
.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command-position {
  font-weight: 400;
  color: var(--secondary-color);
}

/*------------------------- Footer --------------------*/

/*position*/
.foo {
  position: absolute;
  top: 2094px;
  left: 0;
  max-width: 1660px;
  max-height: 252px;
}

.foo-box {
  position: absolute;
  top: 60px;
  left: 215px;
}

/*box model*/
.foo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: flex-start;
}

.adr {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*color,fonts,bg*/

.foo {
  background-color: var(--bg-color);
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

.foo > a {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.adr a {
  color: var(--links-color);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

.adr .location {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

/*distant of words */

.foo-box > a {
  padding-bottom: 20px;
}

.foo-box .location {
  padding-bottom: 9px;
}
