/* box model */
.menu .menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.services {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
